
**/__pycache__/
.DS_Store
test_results
build
tmp
.env
.idea
**/go.mod
**/go.sum
!pdf_extractor_lib/go.mod
!pdf_extractor_lib/go.sum
reports/
sqlite:
results/
data_stream_service/internal/infra/queryengine/datafusion_query_engine/target/
